<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>CarbonRailsTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- add the following div so react knows where to render: -->
<div id='app'></div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
